/* Dokuwiki Plugin DBprocessing */

td.DBprocessingLink a {
	background-color:#326CB3;
	color:#A5CAFF;
	display: block;
	font-size: smaller;
	min-width: 6em;
	border: 2px outset #A5CAFF;
	margin: 0;
	padding: 0;
	text-align: center;
	text-decoration: none;
}

td.DBprocessingLink a:hover {
	background-color: green;
}

.centerAlign {
	text-align: center;
}
.leftAlign {
	text-align: left;
}

.rightAlign {
	text-align: right;
}


